Memberships
* User should see link for Basic plan on home page - done
* User should see link for Pro plan on home page - done 
* The Basic plan link should point to the regular Devise sign up form - done
* Pro plan link should point to a custom sign up form - done

ActiveRecord
Parameters
Substitution

User Profiles
* Each user should have one profile
* User should see link to new profile form upon signing up
* User should be able to creat and view their user profile
* User profile should have profile picture
* User should be able to to view all users profile